@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500');
html, body, div, section, aside, header, footer， nav, h1, h2, h3, h4, h5, h6, p, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}

/*html display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, section, summary{
  display: block;
}
html {
  background: #C8C6FF;
}
body {
  font: 100% Arial, sans-serif;
  margin: 0 auto;
  position: relative;
  background-color: #C8C6FF;
  font-weight: lighter;
  font-style: normal;
  font-size: 12pt;
}
::selection {
  background-color: #C8C6FF;
  color: #FFF;
  text-shadow: none;
}

ul, ol, li {
  list-style: none;
  text-decoration: none;
  border: none;
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

/**/
#title {
  margin-top: 3%;
  text-align: center;
}
#title h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  color: #fff;
}
#title h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  color: #fff;
}
#ui {
  width: 390px;
  margin: 3% auto;
  /*padding-bottom: 20px; */
  /*text-align: center;*/
}
.nav_bar {
  background-color: #AAA1FF;
  height: 50px;
  border-radius: 5px 5px 0 0;
}
.nav_bar li {
  display: inline-block;
  width: 130px;
  /*padding: 5px;*/
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
.currentTab {
  background-color: #fff;
  color: #AAA1FF !important;
}
.nav_bar li:hover {
  cursor: pointer;
}
.nav_bar li:hover {
  animation: 0.5s chosenTab forwards;
}
@keyframes chosenTab {
  0% {background-color: #AAA1FF; color: #fff;}
  100% {background-color: #fff; color: #AAA1FF;}
}
#displayarea {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 0 20px;
  padding-bottom: 10px;
}
#userinput {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  /*background-color: pink;*/
  border-bottom: 1px solid #e3e3e3;
}
#userinput i {
  float: left;
  margin-left: 20px;
  height: 40px;
  line-height: 40px;
  font-size: 1.4em;
  color: #b2b2b2;
}
.search {
  display: block;
  height: 40px;
  width: 70%;
  margin-left: 50px;
  border: 1px solid #b2b2b2;
  border-radius: 6px;
  font-size: 1.5em;
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 300;
  padding-left: 4px;
}
#channelFind {
  /*padding-top: 20px;*/
  margin-bottom: 0;
}
#channelFind p{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: #AAA1FF;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  /*background-color: #AAA1FF;*/
  /*border-radius: 4px;*/
  /*font-family: "Rubik", sans-serif;*/
  /*font-weight: lighter;*/
}

#channels li {
  border-top: 1px solid #e3e3e3;
  /*margin-bottom: 20px;*/
  /*padding: 10px 0;*/
}
#channels li:hover {
  animation: 1s chosenOne forwards;
}
@keyframes chosenOne{
  0% {background-color: rgba(255, 255, 255, 1.0);}
  100% {background-color: rgba(170, 161, 255, 0.6);}
  /*background-color: rgba(170, 161, 255, 0.6);*/
}

.insideli {
  margin-left: 8px;
  background-color: #fff;
  padding: 10px 0 10px 10px;
}
.insideli img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
}
.insideli h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  width: 200px;
  height: 50px;
  line-height: 50px;
  color: #C9C59A;
  margin-left: 20px;
}
.insideli h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  width: 200px;
  height: 50px;
  line-height: 50px;
  color: #C9C59A;
  margin-left: 60px;
  /*width: 50%;*/
  /*overflow: hidden;*/
}
.insideli i {
  float: right;
  font-size: 1.3em;
  padding: 0 auto;
  /*margin-top: 10px; */
}
.fa-toggle-on{
  color: #C9C59A;
}
.fa-toggle-off{
  color: #B2B2B2;
}
.clear {
  clear: both;
}

.insideli p {
  margin-top: 8px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 14pt;
  line-height: 1.2;
  /*text-indent: 10px;*/
}
.hideme {
  /*display: none;*/
  display: none;
}
.hideme li {
  border:none;
}

